body {
    font-family: 'Outfit', sans-serif;
}

:root {
    --backgound-color: #415a77; /*It will be used in the background*/
    --primary_color: #0d1b2a;  /*It will be used in the header and footer.*/
    --second_color: #1b263b;  /*A spare color. Perhaps it will be used in topics or in some <aside>.*/
    --primary_text: #fca311;  /*Main titles, footer and header.*/
    --normal_text: #ffb703;   /*Descriptive texts such as paragraphs*/
}

h1, h2, h3, p, footer {
    display: flex;
    justify-content: center;
}
