
body {
    background-image: url('../images/moscow.webp');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 50vh; 
    margin: 0; 
    height: 1200px;
    position: relative;
    image-rendering: smooth;
}

body::selection{
    color: rgb(255, 71, 71);
    background-color: hsl(0, 0%, 21%); 
}

header {
    background-color: rgb(153, 24, 49);
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10; 
}

h1 {
    font-family: 'Alata', sans-serif;
    color: white;
    margin: 0;
}
h1::first-letter{
    font-size: 1.7em;
    font-style: italic;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1;
}

main {
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
    padding: 20px;
}

.data {
    position: relative;
    z-index: 3;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.4);
    height: 400px;
    width: 300px;
    margin-top: 70px;
    margin-left: 50px;
}

h2 {
    font-family: 'alata', sans-serif;
    font-size: 2.3em;
    margin-right: 300px;
    padding: 5px;
    background-color: rgb(153, 24, 49);
    width: 200px;
}

.p, .p1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2em;
}

.img {
    height: 30px;
    margin-top: 5px;
}

.weather{
    position: relative;
    z-index: 3;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.4);
    height: 280px;
    width: 300px;
    margin-top: 70px;
    margin-left: 925px;
}

footer {
    background-color: rgb(153, 24, 49);
    position: relative; 
    z-index: 11;  
    padding: 10px;
    text-align: center;
    color: white;
    margin-top: 45px;
    height: 125px;
}

.s, .l {
    font-family: 'alata', sans-serif;
    font-size: 1.5em;
}

@media (max-width: 1024px) {
    body {
        background-image: url('../images/moscowww.webp');
    }
    .weather{
        position: relative;
        z-index: 3;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(5px);
        padding: 15px;
        border-radius: 15px;
        box-shadow: 0 4px 15px rgba(0,0,0,0.4);
        height: 280px;
        width: 300px;
        margin-top: 70px;
        margin-left: 50px;
    }
}




